extends layout
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Tangerine')

block content
  h1= title
  p Welcome to #{title}

  p.function #{result}
  p.function #{result2}
  p.function #{result3}
